[Desktop Entry]
Encoding=UTF-8
Name=Colx
Comment=Colx P2P Cryptocurrency
Comment[fr]=Colx, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Colx, eşten eşe kriptografik sanal para birimi
Exec=colx-qt %u
Terminal=false
Type=Application
Icon=colx128
MimeType=x-scheme-handler/colx;
Categories=Office;Finance;
